*   {
    font-family: "gilroy";
}
.container  {
    max-width: 945px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/subheader';
@import 'blocks/section-about'