.header {
	padding: 33px 0 33px;
	display: flex;
	justify-content: space-between;

	&__item   {
		font-weight: 900;
		font-size: 18px;
		color: #828282;
		text-decoration: none;}
		@include button;
	
}