.section-about  {
    padding: 120px 0 107px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
    .title  {
        margin-bottom: 0;
        font-weight: 900;
        font-size: 34px;
        color: #070707;
    }
    .section-about_text {
        margin-top: 50px;
        display: flex;
		flex-direction: column;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #070707;
        text-align: center;
    }