.sub-header  {
	padding: 38px 0 49px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	&_name-item	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-weight: 900;
		font-size: 47.3392px;
		line-height: 59px;
		color: #070707;
	}
	&_about-item   {
		display: flex;
		flex-direction: column;
		align-items:flex-start;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #070707;
	}
	&_lang-item	{
		font-weight: 900;
		transform: rotate(-90deg) translateY(27px) translateX(16px);
		text-decoration: none;
		color: #828282;
		@include button;
	}
}